
@{
    ViewData["Title"] = "ReadConfig";
}
<h2>Read Config</h2>
<div>@ViewBag.Message</div>
<div>@ViewBag.Config1</div>
<div>@ViewBag.Name</div>
<div>@ViewBag.MyeStore</div>
<div>@ViewBag.Database2</div>

